<!-- Formulaire de création de catégorie -->
<form (ngSubmit)="createCategorie()">
    <label>Nom:</label>
    <input type="text" [(ngModel)]="nouvelleCategorie.label" name="label" required>
    
    <button type="submit">Créer</button>
  </form> 
  <!-- Liste des catégories avec option de suppression -->
  <ul>
    <li *ngFor="let categorie of categories">
      {{ categorie.label }}
      <form (ngSubmit)="updateCategorie(categorie)">
        <input type="text" [(ngModel)]="categorieToUpdate.label" name="label" required>
        
        <button type="submit">Mettre à jour</button>
      </form>
      <button (click)="deleteCategorie(categorie.id)">Supprimer</button>
    </li>
  </ul>