<!-- Formulaire de création d'utilisateur -->
<form (ngSubmit)="createUser()">
    <label>Prénom:</label>
    <input type="text" [(ngModel)]="nouvelUtilisateur.firstname" name="firstname" required>
    
    <label>Nom:</label>
    <input type="text" [(ngModel)]="nouvelUtilisateur.lastname" name="lastname" required>
  
    <label>Email:</label>
    <input type="email" [(ngModel)]="nouvelUtilisateur.email" name="email" required>
  
    <label>Mot de passe:</label>
    <input type="password" [(ngModel)]="nouvelUtilisateur.password" name="password" required>
  
    <label>Rôle:</label>
    <select [(ngModel)]="nouvelUtilisateur.role" name="role">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
    
    <button type="submit">Créer</button>
</form>
  
<!-- Liste des utilisateurs avec option de suppression -->
<ul>
    <li *ngFor="let utilisateur of utilisateurs">
        {{ utilisateur.firstname }} {{ utilisateur.lastname }} ({{ utilisateur.email }}) - {{ utilisateur.role }}
        <button (click)="deleteUser(utilisateur.id)">Supprimer</button>
        <form (ngSubmit)="updateUser(utilisateur)">
            <input type="text" [(ngModel)]="utilisateur.firstname" name="firstname" required>
            <input type="text" [(ngModel)]="utilisateur.lastname" name="lastname" required>
            <input type="email" [(ngModel)]="utilisateur.email" name="email" required>
            <input type="password" [(ngModel)]="utilisateur.password" name="password" required>
            <!-- Autres champs du formulaire de mise à jour -->
            <button type="submit">Mettre à jour</button>
          </form>
    </li>
</ul>